---
import type { Category } from "../data/languages";

interface Props {
	languages: Category[];
	currentPath: string;
}

const { languages, currentPath } = Astro.props;

const isActive = (href: string) => {
	if (href === "/") return currentPath === "/";
	return currentPath.startsWith(href);
};
---

<aside class="sidebar">
	<div class="logo">Davi<span class="text-gradient">Notes</span></div>
	<nav>
		<ul class="nav-list">
			<li>
				<a href="/" class={isActive("/") ? "active" : ""}>
					<span class="icon">🏠</span> Home
				</a>
			</li>

			{
				languages.map((cat) => (
					<li class="nav-group">
						<h3 class="nav-title">{cat.category}</h3>

						<ul class="nav-list">
							{cat.items.map((item) => (
								<li>
									<a
										href={item.href}
										class={isActive(item.href) ? "active" : ""}
									>
										<span class="icon">{item.icon}</span>
										{item.title}
									</a>
								</li>
							))}
						</ul>
					</li>
				))
			}
		</ul>
	</nav>
</aside>

<style>
	/* === SIDEBAR === */
	.sidebar {
background: #13151a;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding: 2rem;
    display: flex;
    flex-direction: column;
	}

	.logo {
		font-size: 1.5rem;
		font-weight: bold;
		margin-bottom: 2rem;
		color: #fff;
		padding-left: 0.5rem;
	}

	.nav-group {
		margin-top: 1.5rem;
	}

	.nav-title {
		font-size: 0.75rem;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		color: #666;
		margin-bottom: 0.75rem;
		padding-left: 1rem;
		font-weight: 600;
	}

	.nav-list {
		list-style: none;
		padding: 0;
		margin: 0;
	}
</style>